/*general styling*/
*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: #f4f4f4;
}
/*div{
    border: 1px solid #181010;
}
/*  admin page styling start*/
.admin_container_div{
    width: 99.8%;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
}
.admin_header{
    background-color:#f4f4f4;
    display: flex;
    padding: 15px 15px 15px 15px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;      
}


.admin_form{
    background-color: #fff;
    width: 64%;
    margin:20px 20px  10px 20px;
    border-radius: 5px;
    
}
.admin_input{
    width: 70%;
    min-height: 20px;
    border-radius: 5px;
    padding: 5px;
    border:  1px solid #ccc;
}
.admin_form_div{

 padding-left: 7%;
 padding-bottom: 65px;
 background-color: #f4f4f4;
 padding-top: 30px;
 border-radius: 5px;
}
.admin_sidebar_div{
    width: 30%;
    height: 400px;
    margin: 20px 0px 0px 20px;
    padding: 30px 0px 0px 30px;
    background-color:#f4f4f4;
    border-radius: 10px;  
}
.admin_label{
    font-size: 18px;
    color: cadetblue;
}
#admi_submit_btn{
    width: 30%;
    background-color: cadetblue;
    cursor: pointer;
}
#admi_submit_btn:hover{
    background-color: #ff7800;
    color: #023030;
    border: 1px solid cadetblue;
}
.admin_h2{
    padding:5px 0px 0px 42%;
    color: cadetblue;
}

#admin_new_post,#admin_recent_post,#admin_edit_post{
  width: 70%;
  cursor: pointer;
  color: #f4f4f4;
  background-color: #ff7800;
}
#admin_new_post:hover,#admin_recent_post:hover,#admin_edit_post:hover{
    background-color: #f4f4f4;
    color: #023030;
}
.admin_alert{
    padding:10px 10px;
    background-color: bisque;
    color: #023030;
}

.admin_slogan{
    font-size: 10px;
    color: cadetblue;
    padding-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
/*admin page styling end*/

/*  login page styling start*/
body{
    background-color:#dfdddd;
    
}
.login_form{
    width:28%;
    background-color:#fff;
    margin:auto;
    margin-top:26px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid lightblue;
    border-radius:7px;
}
.login_form-control:focus{
    box-shadow: none;
}
.login_h2{
    padding: 50px 0px 0px 42%;
    font-size: 40px;
    color: lightseagreen;
    font-family: Georgia,  serif;
    
}
.login_alert{
    padding:10px 10px;
    background-color: bisque;
    color: lightseagreen;
}
.login_li{
    list-style: none;
    font-size: 13px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
}
.login_legend{
    text-align: center;
    color: #f4f4f4;
    font-size: 20px;
    padding-top: 5px;
}
.login_input{
    width: 90%;
    min-height: 20px;
    border-radius: 5px;
    padding: 5px;
    border:  1px solid #ccc;
}
a{
    text-decoration: none;
    color: lightseagreen;
}
.login_btn{
    width: 95%;
    min-height: 25px;
    border-radius:5px;
    color: #f4f4f4;
    background-color: lightseagreen;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    border:  1px solid lightblue;  
}
.login_p{
    font-size: 13px;
    text-align: center;
    padding: 9px 0px 5px 0px;
}
.login_legend_div{
    width: 100%;
    text-align: center;
    padding-top: 5px;
    background-color: lightseagreen;
    max-height: 40px;
    border-radius: 5px;
}
.login_form_div{
    margin-top: 18px;
    padding:10px 10px;
}
/*end of login page styling*/

/*start of signup page styling*/
.signup_form{
    width:28%;
    background-color:#fff;
    margin:auto;
    margin-top:20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid lightblue;
    border-radius: 7px;
}
.form-control:focus{
    box-shadow: none;
}
.signup_h2{
    padding: 20px 0px 0px 42%;
    font-size: 40px;
    color: lightseagreen;
    font-family: Georgia,  serif;
}
.signup_alert{
    padding:10px 10px;
    background-color: bisque;
    color: lightseagreen;
}

li{
    list-style: none;
}
.signup_legend{
    text-align: center;
    color: #f4f4f4;
    font-size: 20px;
    /*padding-top: 10px;*/
}
.signup_inputs{
    width: 90%;
    min-height: 20px;
    border-radius: 5px;
    padding: 5px;
    border:  1px solid #ccc;
}
.signup_btn{
    width: 95%;
    min-height: 25px;
    border-radius:5px;
    color: #f4f4f4;
    background-color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border:  1px solid lightblue;
    
}
.signup_p{
    font-size: 13px;
    text-align: center;
    padding: 7px 0px 4px 0px;
}
.signup_legend_div{
    width: 100%;
    text-align: center;
    padding-top: 5px;
    background-color: lightseagreen;
    max-height: 40px;
    border-radius: 5px;
}
.signup_inputs_div{
    margin-top: 18px;
    padding:10px 10px;
}
/*end of signup page styling*/

/*start of profile page styling*/
.profile_header{
    background-color: #fff; 
    padding: 05px 15px 05px 15px;
    display: flex;
    justify-content: space-between;     
}
.profile_h1 a{
    font-size: 27px;
    padding: 16px  0px 03px 15px;
    color: cadetblue;
}
.profile_h2{
    color: cadetblue;
    padding-top: 50px;
}
.profile_li{
    list-style: none;  
}
.profile_li a{
    text-decoration: none;
    cursor: pointer;
    color:  cadetblue;
}
.profile_li a:hover{
    color: #f4f4f4;
}
.profile_logout_div{
    width: 70px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid cadetblue ;
    text-align: center;
    padding: 10px 05px;
}
.profile_logout_div:hover{
    border: 1px solid #f4f4f4;
    background-color: cadetblue;
   
}

#profile_create_post{
    margin-right: 10px;
}
.profile_slogan{
    font-size: 10px;
    color: cadetblue;
    padding-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.profile_div_create{
    display: flex;
    padding: 02px 0px;
}
.profile_div_btn{
    display: flex;
    padding: 23px 40px 0px 0px;
}

.profile_div_container{
    display: flex;
    background-color: #f4f4f4;

}
.profile_conttent_container{
    width: 95%; 
    max-height: 400px;
    overflow-x: auto;
    margin: 20px 20px 0px 20px;
    padding: 30px 0px 0px 0px;
    background-color: #fff;
    border-radius: 5px;
    
}
.profile_div_content{
    
    margin: 15px 70px 15px 100px;
    
}
.profile_div_attachement{
    width: 560.5px;
    height: 288.75px;
    background-color:lightsalmon;
    border-radius: 05px;
    
    
    
}
.profile_div_attachement img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
     
}
.profile_time{
    padding: 13px 10px 10px 20px;
}
.profile_subject{
    padding: 06px 10px 10px 10px;
    font-size: 19px;
}
.profile_blog_message{
    padding: 0px 10px 45px 10px ;
}

.profile_reaction{
    display: flex;
    
    min-height: 40px;
    justify-content: space-between;
    
}
.profile_reaction_btn {
    width: 150px;
    color: #f4f4f4;
    margin: 15px 40px 15px 15px;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
    background-color: cadetblue;
}
.profile_reaction_btn a{
    color: #f4f4f4;
}
.profile_username{
    margin-top: 30px;
    font-size: 17px;
}
.profile_div_sidebar{
    width: 35%;
    height: 420px;
    padding-top: 20px;
    margin: 20px 0px 0px 20px;
    background-color: #fff;
    color:  cadetblue;
    border-radius: 10px;
}
.profile_userprofile_photo{
    width: 90px;
    height: 90px;
    margin-left: 30%;
    border-radius:50px; 
    background-color: #fff;
}

#profile_username{
    padding: 0px 03px 02px 10px;
}
.profile_userdetails{
    margin: 15px 0px 0px 17% ;
}
.profile_list{
    padding-top: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.profile_update{
    width: 300px;
}

.edit_select{
    width: 560px;
    padding: 5px 5px;
}