@media  (max-width: 400px) {
    *{
        padding: 0px;
        margin: 0px;
    }
    div{
        border: 1px solid #000;
    }

    .index_sticky_header{
        width: 19%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1000;
        box-shadow: 01px 01px 4px 01px #dcdcdc;
        
        
    }

    .index_header{
        width: 19%;
        background-color: #fff; 
        padding-right:  15px;
        padding-left: 25px;
        height: 90px;
        display: flex;
        justify-content: space-between;    
    }
    .profile_logout_div{
        display: flex;
        justify-content: space-between;
        width: 10px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid cadetblue ;
        text-align: center;    
        margin-right: 10px;
    }
    .index_logo{
        width: 20px;
    }

    #logout_btn{
        padding: 10px 08px;
        background-color: cadetblue;
    }
    #logout_btn:hover{
        box-shadow: 01px 01px 4px 01px #e8e8e8;
    }
    #logout_btn img{
       width: 16px;
       cursor: pointer;
    }
    .logout{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        
    }
    #create_btn{
        width: 90px;
        padding: 10px 06px;    
        background-color: #fff;
        cursor: pointer;
    }
    #create_btn:hover{
        border: none;
        box-shadow: 01px 03px 3px 02px #e2e2e2;    
    }
    #create_btn img{
        width: 18px;
        cursor: pointer;
    }
    #create_btn a{
        color: cadetblue;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    .index_div_container_btn li{
        list-style: none;
    }
    .index_div_container_btn li a{
        text-decoration: none;
    }
    
    .index_category ul{
        display: flex;
        padding: 06px 0px 05px 0px;
    }
    .index_category ul li{
        list-style: none;
        
    }
    .index_category ul li a{
        text-decoration: none;
        cursor: pointer;
        color: #f4f4f4;
        font-family:'Sofia',sans-serif;
        
    }





}